* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    scroll-behavior: smooth;
}

header {
    background-image: url('header-bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 10px 0;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 7%;
	padding-left: 3%;
    color: #f6f6f6;
}

nav img {
    height: 160px;
    padding-left: 2%;
}

nav h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#hero {
    background-image: url('hero-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 79vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.hero-overlay {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero h2 {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: bold;
    max-width: 800px;
    margin: 0 auto 20px auto;
}

#hero p {
    font-size: 1.0rem;
    max-width: 800px;
    margin: 0 auto 30px auto;
}

.hero-button {
    background-color: #007bff;
    color: #fff;
    padding: 15px 30px;
    font-size: 1.25rem;
    border-radius: 60px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.hero-button:hover {
    background-color: #0556b3;
}

section {
    padding: 40px 0;
    background: #fff;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.button {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    background: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.button:hover {
    background: #0056b3;
}

/* Services Section */
.services {
    padding: 50px 0;
    background-color: #f9f9f9;
}

.services h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #333;
}

.services-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service-item {
    width: 30%;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    margin: 0 10px 20px 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.service-item img {
    width: 250px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.service-item h3 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
}

.service-item p {
    font-size: 1.1rem;
    color: #666;
}

.service-item:hover {
    transform: translateY(-10px);
}

/* Responsive Design */
@media (max-width: 768px) {
    .service-item {
        width: 100%;
        margin: 0 0 20px 0;
    }

    .services-content {
        flex-direction: column;
        align-items: center;
    }
}

#about,
#contact {
    padding: 50px 10%;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 30px;
}
